* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

html{
    scroll-behavior: smooth;
}

body {
    overflow: auto; /* Permettre le défilement */
    scrollbar-width: thin; /* Largeur de la barre de défilement (surtout pour Firefox) */
    scrollbar-color: transparent transparent; /* Couleur de la barre de défilement (surtout pour Firefox) */
    -ms-overflow-style: none; /* Masquer la barre de défilement pour Internet Explorer et Edge */
}

/* Masquer la barre de défilement pour Chrome, Safari et Opera */
body::-webkit-scrollbar {
    width: 0;
}

h2{
    text-transform: uppercase;
    text-align: center;
    padding-top: 30px;
    font-size: 2em;
}

/* ----------------------------------------------- Image Principale ----------------------------------------------- */

.imagePrincipale{
    padding-top: 60px;
    background: url(img/fd_enigma.jpg) no-repeat fixed 50% 50%;
    background-size: cover;
    height: 100vh;
}
h1{
    font-family: 'Dancing Script', cursive;
    text-align: center;
    color: antiquewhite;
    font-size: 6em;
    margin-top: 100px;
    text-shadow: 1px 3px 2px black;
}
.premierTrait{
    height: 1px;
    width: 25%;
    margin: -3px auto;
    background-color: #FFFAE1;
    text-shadow: 1px 3px 2px black;
}
h3{
    text-align: center;
    color: antiquewhite;
    font-size: 3em;
    text-shadow: 1px 3px 2px black;
}


/* ----------------------------------------------- Navbar ----------------------------------------------- */

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
    background: #dcb98c
;
}

.navbar a {
    position: relative;
    font-size: 18px;
    color: #fff;
    font-weight: 500;
    text-decoration: none;
    margin-left: 40px;
    color: #000;
    font-size: large;
}

.navbar{
    margin-left: auto;
}

.navbar a::before {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 9%;
    background: #000;
    transition: .3s;
}

.navbar a:hover::before{
    width: 102%;
}

/* ----------------------------------------------- Presentation ----------------------------------------------- */

.presentation {
    background-color: #FFFAE1;
    padding: 10px 0px 100px 0;
}
.texteIntro{
    padding: 0px 20%;
}

/* ----------------------------------------------- Images ----------------------------------------------- */

.image1, .image2, .image3, .image4, .image5 {
    display: block; 
    margin: 0 auto;
}

.image1{
    width: 400px;
    height: auto; 
}


/* ----------------------------------------------- Footer ----------------------------------------------- */

footer{
    background-color: #524A3A;
    color: #FFFAE1;
    padding: 20px 0 10px 0;
    text-align: center;
}

#deuxiemeTrait{
    height: 1px;
    width: 75%;
    background-color: #FFFAE1;
    margin: 30px auto;
}
#copyrightEtIcons{
    display: flex;
    margin-bottom: 20px;
    padding: 0 10%;
}
#copyright{
    width: 50%;
    text-align: left;
    color: #FFFAE1;
}
#icons{
    width: 50%;
    text-align: right;
}
#icons a{
    display: inline-block;
    margin: 0 15px;
    font-size: 1.3em;
    color: #FFFAE1;
}
#icons a:hover{
    transform: scale(1.5);
    transition: 0.1s;

}